.film-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 100vh;
        margin: 0 auto;
        border: 1px solid yellowgreen;
}

.film-list h2 {
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
        border: 1px solid purple;
}

.film-list-types {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 80px;
        max-width: 100%;
        background-color: #f0f0f0;
        border: 1px solid pink;
        padding-left: 50px;
        padding-right: 50px;
        margin: 0 auto;
}

.film-list-types > div {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
        justify-content: center;
        max-width: 300px; /* Büyük ekranda en fazla bu genişlikte olur */
        flex: 1 1 250px;
}

.film-list-types > div hr {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
}

.film-list-types > div h4 {
        font-weight: bold;
        color: #333;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        border: 1px solid purple;
}

.film-list-types > div ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
}

.film-list-types > div ul li {
        display: flex;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out;
}

.film-list-types > div ul li:hover {
        transform: scale(1.02);
}

.film-list-types > div ul li  {
        text-decoration: none;
        color: #333;
        display: flex;
        width: 100%;
}

.film-list-types > div ul li .film-title {
        text-decoration: none;
        color: #333;
        display: flex;
        width: 100%;
        padding: 10px;
}

.film-list-types > div ul li .film-popularity {
        text-decoration: none;
        color: #333;
        display: flex;
        width: 100%;
        padding: 10px;
}

.film-list-types > div ul li .film-release-date {
        text-decoration: none;
        color: #333;
        display: flex;
        width: fit-content;
        margin-top: 10px;
}

.film-list-types > div ul li .film-release-month {
        text-decoration: none;
        color: #333;
        display: flex;
        margin-left: 5px;
        margin-top: 10px;
        width: fit-content;
}

.film-list-types > div ul li .film-vote-average {
        text-decoration: none;
        color: #333;
        display: flex;
        width: fit-content;
        margin-left: 5px;
        margin-top: 10px;
}

.most-popular {
        font-weight: bold;
        color: #333;
        border: 1px solid purple;
}

.new {
        font-weight: bold;
        color: #333;

        border: 1px solid purple;
}

.ranking {
        font-weight: bold;
        color: #333;

        border: 1px solid purple;
}

.most-popular-movies {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 300px; /* Büyük ekranda en fazla bu genişlikte olur */
        flex: 1 1 250px;
        border: 1px solid purple;
        padding: 14px;
}

.most-watched-movies {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 300px; /* Büyük ekranda en fazla bu genişlikte olur */
        flex: 1 1 250px;
        border: 1px solid purple;
        padding: 14px;
}